.root__section_text {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #e6e6e6;
    opacity: 0.7;
    margin: 50px 0 0 0;
    max-width: 460px;
    grid-column: 1;
    grid-row: 2;
}

@media screen and (max-width: 845px) {
    .root__section_text {
        margin: 25px 0 0 0;
        font-size: 16px;
        line-height: 26px;
    }
}

@media screen and (max-width: 745px) {
    .root__section_text {
        /* grid-area: description; */
        max-width: 284px;
        font-size: 12px;
        line-height: 18px;
        margin: 0;
        grid-row: 3;
    }
}