.training__description {
    display: flex;
    flex-direction: column;
    max-width: 460px;
    width: 100%;
    justify-content: space-between;
}

@media screen and (max-width: 845px) {
    .quote__image {
        max-width: 400px;
    }
}