.intro__bike-container {
    max-width: 810px;
    width: 100%;
    height: 836px;
    background-image: url(../../../images/intro__background.jpg);
    background-position: right;
    background-repeat: no-repeat;
    grid-column: 2;
    grid-row: 1 / span 5;
}

@media screen and (max-width: 845px) {
    .intro__bike-container {
        max-width: 400px;
    }
}

@media screen and (max-width: 767px) {
    .intro__bike-container {
        grid-area: image;
        grid-row: 2;
        width: 254px;
        height: 348px;
        margin-left: 30px;
        margin-top: 40px;
        margin-bottom: 40px;
        background-size: cover;
    }
}