.intro__bike-container {
    width: 810px;
    height: 836px;
    background-image: url(../../../images/intro__background.jpg);
    background-position: right;
    background-repeat: no-repeat;
}

@media screen and (max-width: 845px) {
    .intro__bike-container {
        width: 500px;
    }
}
/*
@media screen and (max-width: 767px) {
    .intro__bike-container {
        grid-area: image;
    }
}*/