.quote {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 120px 120px 60px 120px;
    max-width: 1440px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

@media screen and (max-width: 1290px) {
    .quote {
        padding: 120px 80px 60px 80px;
    }
}

@media screen and (max-width: 845px) {
    .quote {
        padding: 120px 40px 60px 40px;
    }
}

@media screen and (max-width: 767px) {
    .quote {
        padding: 40px 18px;
        flex-direction: column;
    }
}