.quote {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 120px 120px 60px 120px;
    max-width: 1440px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}