@import url(vendor/normalize.css);
@import url(fonts/fonts.css);

.root {
    color: #fff;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', Arial, sans-serif;
}

.nav {
    position: fixed;
    z-index: 2;
    background-color: #333;
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.nav__links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    padding: 28px 103px 28px 0;
}

.nav__link {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    margin: 0 17px;
    transition: 0.2s;
}

.nav__link:hover {
    opacity: 0.65;
    transition: 0.2s;
}

/******************************/
/*********___INTRO___**********/
/******************************/

.intro {
    max-width: 1440px;
    width: 100%;
    padding-top: 95px;
    display: flex;
}

.intro__description-container {
    margin: 60px 50px 0 120px;
}

.intro__btn-container {
    max-width: 180px;
    width: 100%;
    margin: 50px 0 167px 0;
    padding: 15px 0;
    background-color: #24b47e;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    position: relative;
    display: inline-block;
    transition: all 0.3s ease;
    border: none;
    z-index: 1;
}

.intro__btn {
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    letter-spacing: 1px;
    color: #fff;
}

.intro__btn-container:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #319E75;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.intro__btn-container:hover:after {
    left: 0;
    width: 100%;
}

.intro__bike-container {
    width: 810px;
    height: 836px;
    background-image: url(images/intro__background.jpg);
    background-position: right;
    background-repeat: no-repeat;
}

.intro__bike {
    z-index: 1;
    position: sticky;
    top: 466px;
    box-sizing: border-box;
    object-fit: contain;
    height: 300px;
    width: 440px;
    border-radius: 20px;
    background-color: #f4f4f4;
    padding: 20px 50px;
    margin-bottom: 80px;
}

.intro__model {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
}

.intro__model-line {
    margin-left: 30px;
    color: #707070;
}

/******************************/
/********___Section___*********/
/******************************/

.section__title {
    font-size: 55px;
    line-height: 60px;
    font-weight: 700;
    letter-spacing: -0.5px;
    margin: 0;
    max-width: 460px;
}

.section__text {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #e6e6e6;
    opacity: 0.7;
    margin: 50px 0 0 0;
    max-width: 460px;
}

/******************************/
/*********___QUOTE___**********/
/******************************/

.quote {
    box-sizing: border-box;
    padding: 120px 120px 60px 120px;
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.quote__image {
    margin-right: 80px;   
}

.quote__description-container {
    min-height: 460px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.quote__text {
    margin: 0;
    max-width: 470px;
    width: 100%;
    font-size: 34px;
    line-height: 44px;
    font-weight: 600;
    letter-spacing: -0.5px;
}

.quote__author-name {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
}

.quote__author {
    margin: 6px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

/******************************/
/********___Coverage___********/
/******************************/

.coverage {
    box-sizing: border-box;
    max-width: 1440px;
    width: 100%;
    padding: 60px 0 60px 120px;
}

.coverage__image-container {
    display: flex;
    position: relative;
    overflow: hidden;
    margin: 80px 0 50px 0;
}
.coverage__image {
    object-fit: cover;
    margin-right: 40px;
}

.vector-bar::after {
    position: sticky;
    top: 356px;
    left: 20px;
    content: url(images/Rectangle\ 5.png);
    z-index: 1;
    margin-right: -100px;
}

.coverage__image_btns {
    height: 50px;
    display: flex;
}

.coverage__image_btn {
    display: flex;
    text-decoration: none;
    background-color: #434343;
    border-radius: 50%;
    padding: 17px 20px;
    margin-right: 20px;
    transition: 0.2s;
}

.coverage__image_btn:nth-child(2) {
    padding: 17px 20px 17px 23px;
}

.coverage__image_btn:hover {
    opacity: 0.6;
    transition: 0.2s;
}