.quote__image {
    margin-right: 80px;   
}

@media screen and (max-width: 1115px) {
    .quote__image {
        object-fit: contain;
        max-width: 500px;
        width: 100%;
        margin-right: 60px;
    }
}

@media screen and (max-width: 767px) {
    .quote__image {
        margin-top: 20px;
        margin-right: 0;
        margin-bottom: 40px;
        max-width: 284px;
    }
}