.quote__text {
    margin: 0;
    max-width: 470px;
    width: 100%;
    font-size: 34px;
    line-height: 44px;
    font-weight: 600;
    letter-spacing: -0.5px;
}

@media screen and (max-width: 845px) {
    .quote__text {
        font-size: 20px;
        line-height: 22px;
    }
}

@media screen and (max-width: 767px) {
    .quote__text {
        font-size: 23px;
        line-height: 29px;
        font-weight: 600;
        letter-spacing: -.5px;       
    }
}