.intro__model {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    grid-column: 1;
    grid-row: 4;
}

@media screen and (max-width: 1115px) {
    .intro__model {
        font-size: 16px;
    }
}

@media screen and (max-width: 845px) {
    .intro__model {
        font-size: 14px;
        line-height: 16px;
    }
}

@media screen and (max-width: 767px) {
    .intro__model {
        display: none;
    }
}