.intro__btn-container {
    max-width: 180px;
    width: 100%;
    margin: 50px 0 167px 0;
    padding: 15px 0;
    background-color: #24b47e;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    position: relative;
    display: inline-block;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border: none;
    z-index: 1;
    grid-column: 1;
    grid-row: 3;
}

.intro__btn-container:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #319E75;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.intro__btn-container:hover:after {
    left: 0;
    width: 100%;
}

@media screen and (max-width: 1115px) {
    .intro__btn-container {
        margin: 50px 0 130px;
    }
}

@media screen and (max-width: 767px) {
    .intro__btn-container {
        grid-area: button;
        margin: 40px 18px 40px;
        max-width: none;
        width: auto;

    }
}