.quote__author {
    margin: 6px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

@media screen and (max-width: 845px) {
    .quote__author {
        font-size: 12px;
        line-height: 16px;
    }
}

@media screen and (max-width: 767px) {
    .quote__author {
        font-size: 10px;
        line-height: 16px;
        font-weight: 400;
        margin: 4px 0 40px;
    }
}