.training__image {
    max-width: 580px;
}

@media screen and (max-width: 1100px) {
    .training__image {
        object-fit: contain;
        max-height: 350px;
    }
}

@media screen and (max-width: 845px) {
    .training__image {
        max-height: 283px;
    }
}