.training__image {
    object-fit: contain;
    max-width: 580px;
    min-width: 284px;
    width: 100%;
    grid-column: 2;
    grid-row: 1 / span 4;
}

@media screen and (max-width: 1184px) {
    .training__image {
        grid-row: 1 / span 2;
    }
}

@media screen and (max-width: 745px) {
    .training__image {
        width: 284px;
        grid-column: 1;
        grid-row: 2;
    }
}