.quote__description-container {
    min-height: 460px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

@media screen and (max-width: 1115px) {
    .quote__description-container {
        min-height: 350px;
    }
}

@media screen and (max-width: 845px) {
    .quote__description-container {
        min-height: 250px;
    }
}

@media screen and (max-width: 767px) {
    .quote__description-container {
        min-height: 169px;
    }
}