.nav__link {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    margin: 0 17px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.nav__link:hover {
    opacity: 0.65;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}