.section__text {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #e6e6e6;
    opacity: 0.7;
    margin: 50px 0 0 0;
    max-width: 460px;
    grid-column: 1;
    grid-row: 2;
}

@media screen and (max-width: 845px) {
    .section__text {
        margin: 25px 0 0 0;
        font-size: 16px;
        line-height: 26px;
    }
}

@media screen and (max-width: 767px) {
    .section__text {
        grid-area: description;
        margin: 40px auto 40px 18px;
        max-width: 284px;
        font-size: 12px;
        line-height: 18px;
        font-weight: 400;
    }
}