.quote__author-name {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
}

@media screen and (max-width: 845px) {
    .quote__author-name {
        font-size: 16px;
        line-height: 18px;
    }
}

@media screen and (max-width: 767px) {
    .quote__author-name {
        font-size: 14px;
        line-height: 22px;
        font-weight: 500;
        margin-top: 40px;
    }
}